<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--配置期刊管理的BookServlet程序-->

    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>web.servlet.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/book/bookServlet</url-pattern>
        <!--        这个是在浏览器访问的地址-->
    </servlet-mapping>


    <!--配置期刊管理的UserServlet程序-->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>web.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user/userServlet</url-pattern>
    </servlet-mapping>


    <!--谷歌验证码的KaptchaServlet程序-->
    <servlet>
        <servlet-name>KaptchaServlet</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KaptchaServlet</servlet-name>
        <url-pattern>/captcha.jpg</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>web.servlet.FileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/file/fileServlet</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>web.filters.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/pages/adminManager/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>IndexFilter</filter-name>
        <filter-class>web.filters.IndexFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IndexFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <!--        拦截内部转发-->
        <!--        Filter默认下只拦截外部提交的请求，forward和include这些内部转发都不会被过滤

                    <dispatcher>FORWARD</dispatcher>
                    <dispatcher>INCLUDE</dispatcher>
                    <dispatcher>EXCEPTION</dispatcher>
        -->
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
</web-app>