body {
    background: url("../../static/img/boy_back.png") no-repeat fixed;
    background-size: cover;
}

.content {
    height: 670px;
    width: 1030px;
    background: rgba(255, 255, 255, .8);
    margin-left: 75px;
    padding-top: 25px;
    margin-top: 50px;
}

.window {
    background: rgba(0, 0, 0, .65);
    width: 980px;
    height: 630px;
    margin-left: 25px;
    /*margin: 0 auto;*/
    /*margin-top: 95px;*/
    padding-top: 25px;
    overflow: hidden;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .7);
}

.book_img {
    height: 600px;
    width: 425px;
    border: 0px solid red;
    padding-right: 30px;
    padding-left: 20px;
    color: white;
}

.td_bookinform_title {
    padding-left: 30px;
    height: 70px;
    width: 600px;
    /*font-size: 45px;*/
    border: 0px solid red;
}

.td_bookinform {
    padding-left: 10px;
    width: 180px;
    height: 40px;
    font-size: 25px;
    /*border-bottom: 2px solid #CCCCCC;*/
}

#name {
    font-size: 45px;
    color: white;
    border: none;
    background: none;
}

#publishData, #author, #publisher, #sortBook, #number, #remainNumber, #prices {
    padding-left: 5px;
    font-size: 19px;
    color: #CCCCCC;
    outline-style: none;
    background: none;
    width: 260px;
    height: 35px;
    border: 0px solid red;
    /*overflow: hidden;*/
    /*border-bottom: 1px solid #CCCCCC;*/
}

.td_confirm {
    height: 30px;
    padding-bottom: 0;
}

#confirm {
    width: 70px;
    height: 40px;
    background: rgba(20, 20, 20, 0.5);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin-left: 300px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#confirm:hover {
    background-color: #F74B35
}

#cancel {
    width: 70px;
    height: 40px;
    background: rgba(20, 20, 20, 0.5);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#cancel:hover {
    background-color: #F74B35
}

.td_rebookinform {
    border: 0px solid red;
}

input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(44, 251, 248, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(44, 251, 248, .6)
}