body {
    background: url("../../static/img/boy_back.png") no-repeat fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    /*background-position: center 0;*/
}

.content {
    width: 950px;
    height: 695px;
    background: rgba(255, 255, 255, .8);
    /*margin: 0 auto;*/
    margin-left: 120px;
    margin-top: 45px;
    overflow: hidden;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .7);
    position: relative;
    z-index: 1;
}

.con_book {
    padding-top: 5px;
    border: 0px solid red;
    width: 750px;
    height: 220px;
    margin-left: 60px;
    margin-top: 5px;
    /*padding-top: 5px;*/
    background: rgba(0, 0, 0, .65);
}

.td_bookimg {
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 10px;
    height: 205px;
    width: 180px;
    border: 0px solid red;
}

.td_bookinform {
    height: 22px;
    width: 100px;
    font-size: 15px;
    padding-left: 15px;
    color: white;
    font-weight: bold;
}

.td_rebookinform {
    height: 22px;
    width: 270px;
    font-size: 15px;
    border: 0px solid red;
    color: white;
}

.td_key {
    /*background: black;*/
    width: 50px;
}

.td_key a {
    background: rgba(20, 20, 20, 0.5);
    border-radius: 5px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.td_key p a:hover{
    background-color: #F74B35
}

#inputPageNo{
    background: none;
    height: 22px;
    width: 30px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*pointer-events: none;*/
    /*background: rgba(255,255,255, 0.6);*/
    backdrop-filter: blur(5px);
}

.overlay:hover {
    transition: 0.5s filter;
    backdrop-filter: none;
    /*-webkit-filter: blur(5px);*/
    /*pointer-events: auto;*/
}

