/*背景*/
body {
    background: url("../img/oreg.png") no-repeat fixed;
    /*background-color: #D0EDB5;*/
    background-size: cover;
}

/*图片*/
.img_home {
    height: 185px;
    background-image: url("../img/man.png");
    border: 0 solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
}

/*表单*/
.content {
    width: 100%;
    height: 300px;
    border: 0px solid red;
    background: none;
    /*padding-top: 8px;*/
    padding-bottom: 0;
    margin: 0 auto;
    overflow: hidden;
}

.con_frist {
    width: 850px;
    height: 120px;
    border: 0px solid red;
    background: rgba(0, 0, 0, .65);
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 25px 45px rgba(0, 0, 0, .6);
    margin-bottom: 50px;
    padding-top: 9px;
}

.con_second {
    width: 100%;
    height: 60px;
    border: 0px solid red;
}

/*表项*/
.td_top {
    width: 160px;
    height: 40px;
    border: 0px solid white;
    text-align: center;
    font-size: 20px;
    background: none;
    color: white;
    padding-top: 24px;
}

.td_bottom {

}

/*表单项属性*/
#name, #sortBook, #publisher, #author, #publishData {
    width: 160px;
    height: 40px;
    border: 1px hidden white;
    border-bottom-style: solid;
    background: none;
    text-align: center;
    color: white;
}

/*提示字颜色*/
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #a4a4a4;
}

/*搜索按键*/
#btn_conf {
    width: 120px;
    height: 50px;
    /*background-color: #FB8573;*/
    background: rgba(0, 0, 0, .65);
    border: none;
    /*border-radius: 5px;*/
    font-size: 25px;
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin-bottom: 0;
    overflow: hidden;
    box-shadow: 0 20px 45px rgba(0, 0, 0, .6);
}

#btn_conf:hover {
    background-color: #F74B35
}

/*书*/
.table_book {
    width: 100%;
    height: 30%;
    overflow: hidden;
}

.box {
    width: 100%;
    height: 320px;
    margin: 0 auto;
    overflow: hidden;
    border: 0 solid black;
    position: relative;
    background: rgba(0, 0, 0, .65);
    padding-top: 10px;
}

.imglist {
    animation: rolling 10s linear infinite;
    position: absolute;
    display: flex;
}

img {
    float: left;
    margin-right: 5px;

}

@keyframes rolling {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-38%);
    }
}
