/*顶栏*/
.toptip {
    height: 40px;
    border: 0px solid red;
    background: rgba(251, 251, 251, 0.6);
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);

}

/*logo*/
.toptip_logo {
    height: 40px;
    width: 100px;
    padding-left: 30px;
    vertical-align: middle;
    margin-bottom: 0;
    border: 0px solid red;
    float: left;
}

.toptip_search {
    padding-top: 2px;
    width: 450px;
    height: 40px;
    border: 0px solid red;
    float: left;
}

#name, #sortBook, #publisher, #author, #publishData {
    width: 85px;
    height: 25px;
    background: none;
    padding-left: 5px;
    font-size: 14px;
}
/*搜索按键*/
#btn_conf {
    color: white;
    margin-left: 5px;
    height: 26px;
    width: 50px;
    font-size: 14px;
    background: rgba(0, 0, 0, .5);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#btn_conf:hover {
    background-color: #F74B35
}

/*顶栏用户头像*/
.img_user {
    /*position: absolute;*/
    width: 45px;
    height: 40px;
    padding-top: 4px;
    border: 0px solid red;
    cursor: pointer;
    margin-right: 45px;
    background: none                                                      ;
}

.dropdown {
    padding-left: 10px;
    border: 0px solid blue;
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #efefef;
    min-width: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: #000000;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.dropdown-content a:hover {
    background-color: #D8D8D8
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .img_user {
    background: grey;
}

