/*背景*/
body {
    background: url("../../static/img/background_mount.png") no-repeat fixed;
    background-size: cover;
}

/*表单*/
.content {
    width: 600px;
    height: 500px;
    border: 0px solid red;
    background: rgba(0, 0, 0, .6);
    /*border-radius: 10px;*/
    margin: 100px auto;
    overflow: hidden;
    box-shadow: 0 25px 45px rgba(0, 0, 0, .5);
    font-size: 20px;
}

/*欢迎登录*/
.con_wel {
    color: white;
    font-size: 35px;
    width: 100%;
    height: 80px;
    border: 1px hidden white;
    border-bottom-style: solid;
    padding-top: 10px;
    text-align: center;
    overflow: hidden;
    /*background-color: #81DAF5;*/
}

/*左侧表项*/
.td_left {
    width: 60px;
    height: 45px;
    text-align: right;
    padding-left: 10px;
    border: 1px;
    border-radius: 5px;
    color: white;
}

/*右侧表项*/
.td_right {
    padding-left: 5px;
    padding-right: 10px;
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #a4a4a4;
}
/*用户名、密码、验证码表项*/
#username, #password, #checkCode {
    width: 260px;
    height: 32px;
    background: none;
    border: 1px hidden white;
    border-bottom-style: solid;
    /*border-radius: 5px;*/
    padding-left: 10px;
    font-size: 17px;
    color: white;
}

.tdst_right {
    color: #a4a4a4;
    padding-left: 10px;
    font-size: 17px;
}
/*验证码表项*/
#checkCode {
    width: 150px;
}

/*验证码图片*/
#img_check {
    height: 32px;
    vertical-align: middle;
}

/*立即登录按键*/
#btn_sub {
    width: 150px;
    height: 50px;
    background-color: #FB8573;
    /*background-image: linear-gradient(#81DAF5);*/
    /*background: rgba(79, 206, 241, 0.5);*/
    border: none;
    /*border: 3px solid #eeeeee;*/
    border-radius: 5px;
    font-size: 25px;
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#btn_sub:hover {
    background-color: #F74B35
}
/*立即登录表项*/
.td_login {
    padding-top: 30px;
}

/*马上注册*/
.td_rgleft {
    width: 300px;
    height: 50px;
    padding-left: 50px;
}

.td_rgleft a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

/*忘记密码*/
.td_rgright {
    width: 300px;
    height: 50px;
    padding-right: 50px;
    text-align: right;
}

.td_rgright a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

/*.href_register {*/
/*    width: 400px;*/
/*    height: 40px;*/
/*    border: 0px solid red;*/
/*    overflow: hidden;*/
/*}*/