body {
    background: url("../../static/img/success.png") no-repeat fixed;
    background-size: cover;
}

.content{
    height: 50px;
    width: 600px;
    background: orange;
    border: 1px solid orange;
    margin-top: 360px;
    margin-left: 400px;
    padding-bottom: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.content p a{
    color: #F74B35;
}

.dot{
    animation: dot 3s infinite step-start;
    display: inline-block;
    width: .3em;
    vertical-align: bottom; /*始终让省略号在文字的下面*/
    overflow: hidden;
    border: 0px solid red;
}

@keyframes dot { /*动态改变显示宽度, 但始终让总占据空间不变, 避免抖动*/
    0% { width: 0; margin-right: .9em; }
    33% { width: .3em; margin-right: .6em; }
    66% { width: .6em; margin-right: .3em; }
    100% { width: .9em; margin-right: 0;}
}