body {
    background: url("../../static/img/boy_back.png") no-repeat fixed;
    background-size: cover;
}

.content {
    height: 670px;
    width: 1030px;
    background: rgba(255, 255, 255, .8);
    margin-left: 75px;
    padding-top: 25px;
    margin-top: 50px;

}

.window {
    background: rgba(0, 0, 0, .35);
    width: 980px;
    height: 200px;
    margin-left: 25px;
    /*margin: 0 auto;*/
    /*margin-top: 95px;*/
    padding-top: 25px;
    overflow: hidden;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .7);
}

.con_text{
    border: 0px solid red;
    width: 880px;
    height: 170px;
    margin-left: 50px;
}

input {
    /*margin-left: 50px;*/
    font-size: 18px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: none;
}

#image{
    border: 0px solid red;
    height: 30px;
    width: 200px;
    overflow: hidden;
}

#submit{
    border: 0px solid red;
    height: 30px;
    width: 90px;
    overflow: hidden;
}

input:hover{
    background: #F74B35;
}

#cancel{
    height: 30px;
    width: 90px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border: 0px solid red;
    background: white;
    margin-left: 10px;
    font-size: 18px;
}

.con_text a{
    font-size: 15px;
    text-decoration: none;
    color: black;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#cancel:hover{
    background: #F74B35;

}
